.App {
  text-align: center;
  display: grid;
  grid-template-columns: .9fr 5fr;
  grid-template-rows: 0.2fr auto;
  grid-template-areas: "sidebar main"
                       "sidebar main";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img.unrevealed {
/* mask-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 100%, rgba(0,212,255,1) 100%); */
filter: brightness(0%);
}


div.outerContainer {
  /* background-color: rebeccapurple; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr .7fr;
  grid-template-areas: "mainStage"
                       "guessBox";
}

div.mainStage {
  /* background-color: #61dafb; */
  grid-area: "mainStage";
}


.guessBox {
  grid-area: "guessBox";
}

.sidebar {
  grid-area: "sidebar";
  /* background-color: maroon; */
}

/* Silhouette game title */
.main {
  grid-area: "main";
  /* background-color: cadetblue; */
}

h1 {
  font-size: large;
}